@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p><a href="https://github.com/Scalante?tab=repositories" target="_blank">Mi repositorio Github</a></p>
</div>
